.elements__card-icon {
  width: 22px;
  height: 19px;
  padding: 0;
  border: 0;
  background-image: url(../../../images/heart.svg);
  align-self: center;
  margin: 0;
  transition: .2s;
  cursor: pointer;
}

.elements__card-icon:hover {
  opacity: .5;

}
