.card__icon {
  width: 22px;
  height: 19px;
  padding: 0;
  border: 0;
  background-image: url(../../../images/heart.svg);
  background-color: transparent;
  align-self: center;
  margin: 0;
  transition: .2s;
  cursor: pointer;
}

.card__icon:hover {
  opacity: .5;

}
