.popup__text-title {
  width: calc(100% - 72px);
  max-height: 23px;
  margin: 34px auto 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;

}


@media (max-width: 500px) {
  .popup__text-title {
    width: calc(100% - 44px);
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 0;
  }
}
